<article class="post">
  <div class="title">
    {{!-- <a class="post-color" href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span> --}}
    <a class="post-color" href="/post/{{id}}">{{title}}</a>
    <span><a href="{{post_url}}" target="_blank">({{format_url post_url}})</a></span>
  </div>
  <div class="meta">
    <a class="post-color2" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>